<div class='content-box'>
  <h1>Welcome to My DVD Manager<h1>
  <h5>A simple intuitive DVD managment service.</h5>
  <%=link_to "Sign In With Facebook", auth_path(:facebook), class: "button large fa fa-facebook-official" %>
</div>
