---
http_interactions:
- request:
    method: post
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=<AWS_ACCESS_KEY_ID>&AssociateTag=ASSOCIATE_TAG&IdType=UPC&ItemId=012569500822&Operation=ItemLookup&ResponseGroup=EditorialReview,Images,ItemAttributes,Tracks&SearchIndex=Movies&Signature=54Xkb8c8AFDUQypnnI07GTtjMGs0zGn9MSBvtAznFTc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-02-07T15:52:10.000Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>f9dce966-45a3-402e-9426-4ff06293ffd4</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="<AWS_ACCESS_KEY_ID>"></Argument><Argument Name="AssociateTag"
        Value="ASSOCIATE_TAG"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="ItemId" Value="012569500822"></Argument><Argument Name="Operation" Value="ItemLookup"></Argument><Argument
        Name="ResponseGroup" Value="EditorialReview,Images,ItemAttributes,Tracks"></Argument><Argument
        Name="SearchIndex" Value="Movies"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2017-02-07T15:52:10.000Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="54Xkb8c8AFDUQypnnI07GTtjMGs0zGn9MSBvtAznFTc="></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.1161496040000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>012569500822</ItemId><ResponseGroup>EditorialReview</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Tracks</ResponseGroup><SearchIndex>Movies</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>6305736650</ASIN><DetailPageURL>https://www.amazon.com/Casablanca-Snap-Case-Humphrey-Bogart/dp/6305736650%3FSubscriptionId%3D<AWS_ACCESS_KEY_ID>%26tag%3DASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D6305736650</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/Casablanca-Snap-Case-Humphrey-Bogart/dp/tech-data/6305736650%3FSubscriptionId%3D<AWS_ACCESS_KEY_ID>%26tag%3DASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D6305736650</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D6305736650%26SubscriptionId%3D<AWS_ACCESS_KEY_ID>%26tag%3DASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26[...]
- request:
    method: post
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=<AWS_ACCESS_KEY_ID>&AssociateTag=ASSOCIATE_TAG&IdType=UPC&ItemId=012569500822&Operation=ItemLookup&ResponseGroup=EditorialReview,Images,ItemAttributes,Tracks&SearchIndex=Movies&Signature=u16MwKUs4HAJPj2RpiARnGegmriRbPOuvuJtszuwzVo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-02-07T15:52:11.000Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:[...]
