<div class="content-box">
  <h1>Sign Up</h1>

  <%= form_for @user do |f| %>
    <div class="form-inputs">
      <%= f.text_field :name, label: false, placeholder: "UserName" %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
