.top-bar,.title-area, .top-bar *, .top-bar ul {
  color: #EEEEEE;
  background: rgba(46, 44, 45, 0);
}

.top-bar {
  background: rgba(46, 44, 45, .7);
  position: fixed;
}

.top-bar-spacer {
  height: 80px;
}

.top-bar:hover {
  background: rgba(46, 44, 45, .9);
}

.title-area *:hover {
  color: #EB6564;
}

.sign-up *:hover {
  color: #EDDB7F;
}

.sign-in *:hover {
  color: #89BA99;
}

.sign-out *:hover {
  color: #EDDB7F;
}

.account-settings *:hover {
  color: #89BA99;
}

.hidden {
  display: none;
}

/*.dvd-content {
  background-color: #6CA2E7;
}*/

body {
  background: url(dvds2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: black;
}

ul {
  list-style-type: none;
}

.right {
  float: right;
  display: inline-block;
}

.title-area {
  display: inline-block;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 0px;
  font-family: 'Exo 2', sans-serif;
}

.right-item {
  display: inline-block;
  font-size: 28px ;
  font-family: 'Exo 2', sans-serif;
  margin-right: 30px;
  margin-top: 10px;
}

.nav-link {
  margin-bottom: 0px;
  margin-top: 15px;
}

.list-item-content:hover{
  background: rgba(255, 255, 255, .75);
}

.content-box {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  background: rgba(255, 255, 255, .7);
  border-radius: 15px;
  padding: 30px 50px 30px 50px;
  text-align: center;
}

.error-msg {
  width: 85%;
  color: black;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  margin: auto;
  margin-top: 50px;
  background: rgba(255, 255, 255, .7);
  border-radius: 15px;
  padding: 30px 50px 30px 50px;
}

.profile_photo {
  border-style: solid;
  border-width: 3px;
  border-color: #0D1B2A;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

.right {
  margin-bottom: 0px;
}

.list-item-box {
  padding: 0px 10px 10px 10px;
}

.list-item-content {
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, .7);
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
  text-align: center;
  height: 210px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-item-image-box {
  height: 110px;
  margin: auto;
  border-style: solid;
  border-width: 3px;
  border-color: #0D1B2A;
  border-radius: 5px;
  overflow: hidden;
}

.button {
  border-radius: 5px;
}

.item-title {
  text-align: center;
  margin-bottom: 20px;
}

.itemList {
  margin-top: 10px;
}
